.form {
  display: grid;
  width: 22rem;
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 2rem;
  background: #fff;
  gap: 1rem;
}

.nav {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.nav-item {
  color: grey;
  text-decoration: none;
}

.nav-item + .nav-item {
  margin-inline-start: 0.8rem;
}

.selected {
  color: var(--accent-color);
  font-weight: bold;
}

.forgot {
  text-align: center;
}
