.input {
  height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--accent-color);
  color: #fff;
  font-size: 1.2rem;
}

.input:focus,
.input:hover {
  background: var(--accent-color-dark);
}

.input:active {
  background: var(--accent-color-light);
}

.input:disabled {
  background: var(--grey-color);
}
