.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  justify-content: center;

  scroll-behavior: smooth;
  overflow-y: auto;

  background: rgba(0,0,0,0.3);
}

.modal {
  align-self: center;
}