/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/Background/Background.css ***!
  \******************************************************************************************************************************************************************/
.Background__bg-header___KNkch {
  width: calc(100% - 4rem);
  height: 4rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 0 0 0.6rem 0.6rem;
  margin: 0 auto;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-main___CS7ch {
  display: flex;
  width: calc(100% - 4rem);
  justify-content: space-between;
  margin: 1rem auto;
}

.Background__bg-section___KNRmJ {
  width: calc(75% - 2rem);
}

.Background__bg-side___mvu7r {
  width: calc(25% - 2rem);
  border-radius: 0.6rem;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-article___ZTWOT {
  width: 100%;
}

.Background__bg-title___yYQE6 {
  display: block;
  width: 50%;
  height: 1.4rem;
  border-radius: 0.3rem;
  margin: 2rem 0 1rem;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-line25___OrP2T {
  display: block;
  width: 25%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-line50___QNrl8 {
  display: block;
  width: 50%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-line75___hqfcg {
  display: block;
  width: 75%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.Background__bg-line100___z96Mx {
  display: block;
  width: auto;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/Modal/Modal.css ***!
  \********************************************************************************************************************************************************/
.Modal__backdrop___DJULR {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  justify-content: center;
  background: rgba(0 0 0 / 30%);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.Modal__modal___CKty5 {
  /* align-self: center; */
}

/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/LoginForm/LoginForm.css ***!
  \****************************************************************************************************************************************************************/
.LoginForm__form___ZnMaP {
  display: grid;
  background: #fff;
  gap: 1rem;
}

.LoginForm__error___cy8rZ {
  margin: 0.3rem 0 0;
  color: red;
}

/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/Input/Input.css ***!
  \********************************************************************************************************************************************************/
.Input__container___ShTJi {
  position: relative;
  display: block;
}

.Input__label___vsJH3 {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  background: #fff;
  color: var(--grey-color);
  cursor: text;
  font-size: 1.2rem;
  pointer-events: none;
  transition: 100ms ease-in-out;
}

.Input__input___oL9_C {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey-color);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 2rem;
  outline: none !important;
}

.Input__input___oL9_C:focus {
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  border-width: 2px;
  border-color: var(--accent-color);
}

.Input__input___oL9_C:focus + .Input__label___vsJH3,
.Input__input___oL9_C:not([value=""]) + .Input__label___vsJH3 {
  top: -0.6rem;
  left: 0.8rem;
  padding: 0.05rem 0.4rem;
  color: var(--accent-color);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.Input__input___oL9_C.Input__error___G2xR2 {
  border-color: var(--error-color);
}

.Input__input___oL9_C.Input__error___G2xR2 + .Input__label___vsJH3 {
  color: var(--error-color);
}

.Input__error-message___aUaAD {
  display: block;
  margin-top: 0.2rem;
  color: var(--error-color);
  font-size: 0.8rem;
}

/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/SubmitButton/SubmitButton.css ***!
  \**********************************************************************************************************************************************************************/
.SubmitButton__input___dot0C {
  height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--accent-color);
  color: #fff;
  font-size: 1.2rem;
}

.SubmitButton__input___dot0C:focus,
.SubmitButton__input___dot0C:hover {
  background: var(--accent-color-dark);
}

.SubmitButton__input___dot0C:active {
  background: var(--accent-color-light);
}

/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/LoginModal/LoginModal.css ***!
  \******************************************************************************************************************************************************************/
.LoginModal__modal___zZ9ur {
  display: grid;
  width: 22rem;
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 2rem;
  background: #fff;
  gap: 1rem;
}

.LoginModal__nav___tK36u {
  margin: 0;
  text-align: center;
}

.LoginModal__forgot___noDPV {
  color: var(--accent-color);
  text-align: center;
}

.LoginModal__forgot___noDPV:visited {
  color: var(--accent-color);
}

.LoginModal__forgot___noDPV:hover {
  color: var(--accent-color-dark);
}

.LoginModal__under-construction___Ycfdq {
  color: var(--accent-color);
  text-align: center;
}

/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/components/ModalNavItem/ModalNavItem.css ***!
  \**********************************************************************************************************************************************************************/
.ModalNavItem__nav-item___ok2YP {
  color: var(--grey-color);
  text-decoration: none;
  text-transform: uppercase;
}

.ModalNavItem__nav-item___ok2YP + .ModalNavItem__nav-item___ok2YP {
  -webkit-margin-start: 0.8rem;
          margin-inline-start: 0.8rem;
}

.ModalNavItem__nav-item___ok2YP:not(.ModalNavItem__selected___x4YKw):hover {
  color: var(--accent-color-dark);
}

.ModalNavItem__selected___x4YKw {
  color: var(--accent-color);
  cursor: default;
  font-weight: bold;
}

/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/global.css ***!
  \****************************************************************************************************************************************/
:root {
  --accent-color: #0fccbc;
  --accent-color-dark: #0b8f84;
  --accent-color-light: #12e8d6;
  --error-color: #ff4d4d;
  --grey-color: grey;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
}

