.bg-header {
  width: calc(100% - 4rem);
  height: 4rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 0 0 0.6rem 0.6rem;
  margin: 0 auto;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-main {
  display: flex;
  width: calc(100% - 4rem);
  justify-content: space-between;
  margin: 1rem auto;
}

.bg-section {
  width: calc(75% - 2rem);
}

.bg-side {
  width: calc(25% - 2rem);
  border-radius: 0.6rem;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-article {
  width: 100%;
}

.bg-title {
  display: block;
  width: 50%;
  height: 1.4rem;
  border-radius: 0.3rem;
  margin: 2rem 0 1rem;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-line25 {
  display: block;
  width: 25%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-line50 {
  display: block;
  width: 50%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-line75 {
  display: block;
  width: 75%;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}

.bg-line100 {
  display: block;
  width: auto;
  height: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  background: #eee;
  box-shadow: #eee 0 0 1rem;
}
